.home {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    &__menu {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        background-color: #fff;

        &__item {
            padding: 5px 20px 5px;

            a {
                color: #252f4a;
            }
        }
    }
}
