.main {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
    background: linear-gradient(135deg, #6f6df4, #171552);
}
