.registration {
    form {
        display: grid;
        gap: 1vw;
        width: 50vw;

        div {
            display: grid;
            grid-template-rows: repeat(2, auto);
            span {
                display: none;
            }

            &.error span {
                color: #ff0000;
                display: block;
            }
        }
    }

    &__input-city {
    }

    &__button {
        background-color: #00bb00;
        transition: 0.4s ease-in-out;

        &:hover {
            background-color: #00ff00;
        }
    }
}
