.shop {
    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    display: flex;
    flex-direction: column;
    width: 90%;
    .filter {
        padding: 10px;
        box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
        border-radius: 10px;
        background: linear-gradient(135deg, #ffffff, #c5c5c5);
        position: relative;
        min-height: 100px;
        input {
            width: 150px;
            margin-bottom: 10px;
            border: 1px solid #c5c5c5;
            padding-left: 5px;
            &:focus {
                border: 1px solid #dd4747;
                outline: none;
            }
        }
        .price-from {
            border-radius: 5px 0 0 5px;
            border-right: none;
        }
        .price-up {
            border-radius: 0px 5px 5px 0px;
        }
        .filter-button {
            background: #6967e8;
            color: #ffffff;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            width: 150px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .product {
        display: flex;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        max-width: 49.2%;
        box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.1);
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        img {
            max-width: 50%;
            border-radius: 5px;
            /* box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.8); */
        }
        span {
            display: block;
        }
        ul {
            font-size: 18px;
            margin-bottom: 15px;
            padding-left: 15px;
        }
        li {
            list-style-type: '- ';
        }
        .info-product {
            padding-left: 10px;
        }
        .name-product {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .desc-product {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .price-product {
            font-size: 26px;
        }
        .old-price-product {
            font-size: 22px;
            text-decoration: line-through;
        }
        .disc-price-product {
            display: inline;
            background: #c71212;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 26px;
        }
    }
}
